<header class="header sticky">
  <h1 class="header title">{{ title }}</h1>
  <div class="header description">
    A simple yet powerful tree component for Angular.
  </div>
  <div class="header info debug">View events in Dev Console.</div>
  <nav class="nav">
    <ul>
        <li routerLinkActive="active">
          <a routerLink="/">Full tree</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="basic">Basic tree</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="fields">Fields</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="templates">Templates</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="filter">Filter</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="empty">Empty</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="rtl">RTL</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="async">Async</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="save-restore">Save&Restore</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="checkboxes">Checkboxes</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="drag">Drag</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="dragover-styling">Dragover Styling</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="dragover-styling-full-tree">Dragover Styling Full Tree</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="virtual">Virtual</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="api">API</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="actions">Actions</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="scroll-container">Scroll Container</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="context-menu">Context Menu</a>
        </li>
      </ul>   
  </nav>
</header>
<section>
  <article>
    <router-outlet />
  </article>
</section>
